<fieldset data-id='credit-card' class="no-border-bottom">
  <div class="field" data-hook="previous_cards">
    <% if previous_cards.any? %>
      <% previous_cards.each do |card| %>
        <label><%= radio_button_tag :card, card.id, card == previous_cards.first %> <%= card.display_number %><br /></label>
      <% end %>
    <% end %>
    <label><%= radio_button_tag :card, 'new', false, { id: "card_new#{payment_method.id}" } %> <%= I18n.t('spree.use_new_cc') %></label>
  </div>

  <div id="card_form<%= payment_method.id %>" data-hook>
    <% param_prefix = "payment_source[#{payment_method.id}]" %>

    <div class="clear"></div>

    <div class="alpha four columns">
      <div data-hook="card_name">
        <div class="field">
          <%= label_tag "card_name#{payment_method.id}", Spree::CreditCard.human_attribute_name(:name), class: 'required' %>
          <%= text_field_tag "#{param_prefix}[name]", '', id: "card_name#{payment_method.id}", class: 'required fullwidth', maxlength: 19 %>
        </div>
      </div>
    </div>

    <div id="braintree-dropin"></div>
    <input type="hidden" id="payment_method_nonce" name="payment[payment_method_nonce]">

    <div class="clear"></div>

    <%= label_tag "card_address#{payment_method.id}", I18n.t('spree.billing_address') %>
    <% address = @order.bill_address || @order.ship_address || Spree::Address.build_default %>
    <%= fields_for "#{param_prefix}[address_attributes]", address do |f| %>
      <%= render :partial => 'spree/admin/shared/address_form', :locals => { :f => f, :type => "billing" } %>
    <% end %>

    <div class="clear"></div>
  </div>
</fieldset>
